[submodule "hatchet-cloud"]
	branch = feat/iac
	path = hatchet-cloud
	url = https://github.com/hatchet-dev/hatchet-cloud.git
[submodule "hatchet"]
	branch = main
	path = hatchet
	url = https://github.com/hatchet-dev/hatchet.git
